<%- include('partials/header.ejs') %>
<body>
    <section class="functional-btns">
        <form action="/user-act" method="post">
            <input type="submit" class="add" name="add-btn" value="Add a Book">
            <div class="sort">
                <h3>Sort by:</h3>
                <input type="submit" class="rating sort" value="Rating" name="rating">
                <input type="submit" class="time sort" value="Time" name="time">
            </div>
            
        </form>
    </section>

    <section class="books">
        <hr>
        <div class="container">
            <% if (locals.books){%>
                <% books.forEach(book => {%>
                    <div class="card" onclick="showReview();">
                        <img src="<%=book.img_url%>" alt="">
                        <div class="data">
                            <h1><%= book.name%></h1>
                            <p><%=book.author%></p>
                        </div>
                        <h3>Rating: <%=book.rating%></h3>
                        
                    </div>
                    <div class="review hidden">
                        <h1>Review</h1>
                        <p><%= book.review %></p>
                    </div>
                    
                <%}); %>    
            <%}else{%>
                <h1>Please add a book!</h1>
            <%}%>
        </div>
    </section>

    <script>
        function showReview(){
            document.querySelector(".review").classList.toggle("hidden")
        }
    </script>
</body>
</html>